name: Rust Tests

on:
  pull_request:
    branches: [ main ]
    types: [ready_for_review, opened, synchronize, reopened]
  push:
    branches: [ main ]

jobs:
  test:
    if: github.event.pull_request.draft == false
    name: Rust tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
    - name: Run tests
      run: cargo test --release
